@model IEnumerable<CarListingViewModel>

@{
    ViewData["Title"] = "All Cars";
}

<div class="container">
    <div class="row">
        @foreach (var car in Model)
        {
            <div class="col-12 col-md-4">
            <a asp-controller="Home" asp-action="Details" asp-route-id="@car.Id" class="card mb-3 shadow" style="max-height: 200px; border: 0; border-radius: 10px; overflow: hidden;">
                <img class="card-img-top" style="border-radius: 10px;" src="@car.ImageUrl">

                <div class="exercise-card-overlay card-img-overlay-gradient">
                </div>

                <div class="position-absolute p-3">
                    <span class="badge rounded-sm" style="background-color:black; color:white">@car.Brand @car.Model - @car.Category (@car.Year)</span>
                </div>

                <div class="card-img-overlay p-3 mb-0">
                    <small class="text-white mb-0"></small>
                    <h5 class="text-white mb-0"></h5>
                </div>
            </a>
        </div>
        }
    </div>
</div>
